:root {
  --step--2: clamp(0.5642rem, 0.5192rem + 0.2251vi, 0.8793rem);
  --step--1: clamp(0.6771rem, 0.6064rem + 0.3536vi, 1.1722rem);
  --step-0: clamp(0.8125rem, 0.7054rem + 0.5357vi, 1.5625rem);
  --step-1: clamp(0.975rem, 0.8167rem + 0.7913vi, 2.0828rem);
  --step-2: clamp(1.17rem, 0.9405rem + 1.1474vi, 2.7764rem);
  --step-3: clamp(1.404rem, 1.0759rem + 1.6407vi, 3.7009rem);
  --step-4: clamp(1.6848rem, 1.2207rem + 2.3204vi, 4.9333rem);
  --step-5: clamp(2.0218rem, 1.3711rem + 3.2531vi, 6.5761rem);
}

:root {
  --space-3xs: clamp(0.1875rem, 0.1607rem + 0.1339vi, 0.375rem);
  --space-2xs: clamp(0.4375rem, 0.3839rem + 0.2679vi, 0.8125rem);
  --space-xs: clamp(0.625rem, 0.5446rem + 0.4018vi, 1.1875rem);
  --space-s: clamp(0.8125rem, 0.7054rem + 0.5357vi, 1.5625rem);
  --space-m: clamp(1.25rem, 1.0893rem + 0.8036vi, 2.375rem);
  --space-l: clamp(1.625rem, 1.4107rem + 1.0714vi, 3.125rem);
  --space-xl: clamp(2.4375rem, 2.1161rem + 1.6071vi, 4.6875rem);
  --space-2xl: clamp(3.25rem, 2.8214rem + 2.1429vi, 6.25rem);
  --space-3xl: clamp(4.875rem, 4.2321rem + 3.2143vi, 9.375rem);
}

.modal-container {
  // // flex properties which didnt make the child element flex items
  // display: flex;
  // place-items: center;

  .modal {
    // // used to position an element relative to the browser window. This means that the element will stay in the same place even if the page is scrolled. It is often used for elements that need to be visible at all times, such as modals, headers, or footers.
    // position: fixed;
    // top and left properties move position of elements based on the point in its top-left corner
    // wch is why transform is needed to center the modal.
    // transform is adjusting relative to its own size and not the viewport
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    padding: 1.5rem 1rem 1rem 1rem;
    // padding: var(--space-l) var(--space-m) var(--space-m) var(--space-m);
    border: 14px solid rgb(29 29 29 / 44%);
    border-radius: 62px;
    // background-color: rgb(160, 160, 160);
    // background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-color: rgb(59 59 59 / 96%);
    // background: radial-gradient(circle, rgba(150,149,159,1) 0%, rgba(249,249,249,1) 100%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    width: max-content;
    max-width: 340px;
    box-shadow: 2px 7px 9px 5px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 2px 7px 9px 5px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 2px 7px 9px 5px rgba(0, 0, 0, 0.45);

    &::backdrop {
      backdrop-filter: blur(8px);
    }

    .demographic-text {
      font-size: 1.5rem;
      font-weight: bold;
    }

    a {
      color: white;
    }

    .close-button {
      background-color: rgb(87, 87, 87, 0.33);
      color: white;
      font-family: "JetBrains Mono", monospace;
      border-radius: 5px;
      padding: 5px;
    }
  }
}
