/* box-sizing reset */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
/*  */

/* sets html and body elements to 100% of viewport */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* is a default setting and is actually not needed */
  padding-top: 10vh; /* sets padding to 20% of viewport height */
}

body {
  /* sun and mountain bg image */
  /* background-image: url('/pexels-photo-414171.jpeg'); */

  /* background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #ababab 54%, #FFCC70 100%); */

  background-image: linear-gradient(120deg, #fdfbfb 0%, #9fb4ca 100%);
  /* background-image: linear-gradient(135deg, #fdfcfb 0%, #e3c2b4 100%); */

  /* sets the background width to auto and height to 150% of vp so we see more of the white*/
  background-size: auto 150vh;

  /* make sure the image doesn't repeat */
  background-repeat: no-repeat;
}

.flag-area {
  width: 350px;
  height: 250px;
  margin-bottom: 10px;
}

.user-interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* .choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  gap: 10px;
} */

.choices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  width: 350px;
}

.choice-button,
.next-button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -6px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: 'JetBrains Mono', monospace;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

/* to make all choice buttons same length and not dependent on text length */
/* .choice-button {
  width: 200px
} */

.choice-button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.choice-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -6px 0 inset;
  transform: translateY(-2px);
}

.choice-button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

/* .choice-button {
  white-space: nowrap;
  overflow: hidden;
  transition: width 3s ease-out, opacity 3s ease-out;
}

.choice-button.empty {
  animation: shrinkAndGrow 3s ease-out forwards;
}

.choice-button.empty .choice-text {
  animation: fadeText 3s ease-out forwards;
} */

/* @keyframes shrinkAndGrow {
  0% {
    width: 200px;
  }
  50% {
    width: 0;
  }
  100% {
    width: 200px;
  }
} */

/* @keyframes fadeText {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

/* having this container in the html structure somehow prevents the bug where 
the choices never get removed from the page when you click Next and they keep 
on accumulating on the page */
.next-button-container {
  margin-top: 30px;
}

.next-button {
  background-color: #36395a;
  color: #fcfcfd;
  box-shadow: #424463 0 2px 4px, #949adb 0 7px 13px -3px, #71718e 0 -6px 0 inset;
}

/* TODO write properties for next-button active state */

.score {
  font-family: 'JetBrains Mono', monospace;
}

@media (max-width: 400px) {
  body {
    /* Adjust the size of the image to be twice the height of the screen, 
       ensuring only the top half is shown */
    background-size: auto 150vh;
    background-position: top 0% right 45%;
    padding-top: 10vh;
  }
}
